* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto; /* Isso alinha o logo à esquerda */
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Alinha as páginas ao centro */
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.auth-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hero img {
    width: 100%;
    height: auto;
}

.card {
    background: white;
    border-radius: 10px;
}

.btn-success {
    background-color: #28a745; /* Verde do botão */
    border: none;
}

.btn-success:hover {
    background-color: #218838; /* Efeito ao passar o rato */
}

.feedback-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  background-color: #28a745;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  z-index: 9999;
}

.notificacoes {
  position: relative;
}

.caixa-notificacoes {
  position: absolute;
  top: 30px;
  right: 0;
  background: white;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 999;
}

.notificacoes:hover .caixa-notificacoes {
  display: block;
}

.icon-wrapper {
  position: relative;
  cursor: pointer;
}

.contador {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
}

